body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  /*-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav__white {
  background: rgb(0, 0, 0, 0,5);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.test {
  color: gray;
}

.scroll__bg {
  color: blue;
}

/* .panel, .panel-title {
  background-color: transparent;
  background: transparent;
} */